<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Noti</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <header>
        <h1>NotiEgg</h1>
        <nav class="navbar">
            <a class="nav-link" href="Inicio.html">Inicio</a>
            <a class="nav-link" href="#Noticias">Noticias</a>
            <a class="nav-link" href="#panelAdmin">Administrar</a>
        </nav>
    </header>
    <div id="title">
        <h2>Administrar Noti</h2>
    </div>

    <section>



    </section>

    <body>

    </body>

</html>